.QuoteCard {
  height: vh;
}

.pablo {
  height: 250px;
  width: 250px;
  position: relative;
  bottom: -70px;
}

h2 {
  text-shadow: 2px darkslategray;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 110px;
  font-weight: 900;
  margin-bottom: 50px;
}

p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 200;
  margin: 15px auto;
  text-shadow: 2px darkslategray;
  width: 85%;
}

