.QuoteCard {
  height: 100%;
}

.pablo {
  height: 250px;
  width: 250px;
  position: relative;
  bottom: -70px;
}

h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 110px;
  font-weight: 900;
  margin-bottom: 50px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: white;
  width: 85%;
  margin: 30px auto;
}

