.weather {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
}

.temp, .summary {
  font-size: 20px;
  margin: 15px 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.location {
  position: absolute;
  font-size: 20px;
  margin: 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
  right: 81px;
  top: 30px;
}

.icon {
  height: 80px;
  width: 80px;
}

.today {
  color: white;
  font-size: 20px;
  left: 20px;
  margin: 15px;
  position: absolute;
  font-family: 'Roboto', sans-serif;
}